*{
    margin: 0;
    padding: 0;
}

:root {
    --main-content-padding: 2em;
    --calc-padding: clamp(20px,10vw,35px);
    --form-background-color: white;
    --main-content-background-color: #F6F7F8;
}

@font-face {
    font-family: "Norse" ;
    src:
        url("../font/Norsebold.otf"),
        url("../font/Norse.otf");
}

.container{
    display: flex;
    min-height: 100vh;
    
}

.hero-panel{
    width: 45%;
    box-sizing: border-box;
}

.hero-overlay{
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
    background-color: #00000060;
    position: relative;
    top: 13%;
    /* padding-top: 6em; */
}
.odin-logo{
    width: 5em;
    height: 5.5em;
}

.background-img {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.branding-overlay{
    font: 
        4em "Norse",
        monospace;
    color: white;
}

.bgd-credits > p{
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1em;
    text-align: center;
    
}

.main-content-area {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-content-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.paragraph-section{
    padding: var(--calc-padding);
    /* border: 2px dashed; */
}

.form-section {
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow:  0px 1px 15px lightgrey;
    font-size: 0.8em;
    padding-left: 0.5em;
    /* border: 2px dashed red; */
}

.registration-section{
    background-color: #F6F7F8;
    /* border: 2px dashed blue; */
}

fieldset {
    border: none;
}

.field-row1,
.field-row2,
.field-row3,
.form-title{
    display: flex;
    padding: 1.5em;
}

.form-row{
    gap: 4rem;
}

