*{
    margin: 0;
    padding: 0;
}

:root {
    --main-content-padding: 2em;
    --form-background-color: white;
    --main-content-background-color: #F6F7F8;
}

@font-face {
    font-family: "Norse" ;
    src:
        url("../font/Norsebold.otf"),
        url("../font/Norse.otf");
}

.container{
    display: flex;
    min-height: 100vh;
    
}

.hero-panel{
    width: 45%;
    box-sizing: border-box;
}

.hero-overlay{
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
    background-color: #00000060;
    position: relative;
    top: 25%;
}
.odin-logo{
    width: 5em;
    height: 5.5em;
}

.background-img {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.branding-overlay{
    font: 
        4em "Norse",
        monospace;
    color: white;
}

.bgd-credits > p{
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1em;
    text-align: center;
    
}

.main-content-area {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-content-background-color);
}

.paragraph-section{
    /* width: clamp(45ch, 50%, 75ch);  */
    /* padding-bottom: 15%; */
    padding-top: 5em;
    padding-left: var(--main-content-padding);
    padding-bottom: var(--main-content-padding);
}

.form-section {
    background-color: white;
}

.field-row1,
.field-row2,
.field-row3{
    display: flex;
    padding: 1.5rem;
}

.form-bottom-section{
    padding-top: var(--main-content-padding);
    background-color: #F6F7F8;
}

fieldset {
    border: none;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
