*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse" ;
    src:
        url("../font/Norsebold.otf"),
        url("../font/Norse.otf");
}

.container{
    display: flex;
}

.col-1{
    width: 35vw;
    height: 100vh;  
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
    background-color: #00000060;
    position: relative;
    top: 25%;
}
.odin-logo{
    width: 5em;
    height: 5.5em;
}

.background-img {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.odin-title{
    font: 
        4em "Norse",
        monospace;
    color: white;
}

.img-credit > p{
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.field-row1,
.field-row2,
.field-row3{
    display: flex;
    padding: 1.5rem;
}


